body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

fieldset {
  border: 1px solid #676767;
  margin-bottom: 15px;
}

.App42PaaS_header_wrapper {
  float: left;
  height: 94px;
  width: 100%;
  min-width: 1024px;
  background-image: url(/images/navigation_bar_bg.png);
  background-repeat: repeat-x;
}

.App42PaaS_header_inner {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.App42PaaS_header {
  width: 1004px;
  float: left;
  padding: 0px 10px;
}

.App42PaaS_header_inner .App42PaaS_header .logo {
  float: left;
  margin: 3px 20px 0px 0px;
}

.App42PaaS_body {
  width: 1024px;
  margin: 20px auto;
}

.App42PaaS_body_inner {
  width: 1024px;
  float: left;
  padding: 0px;
  background-color: rgb(215, 232, 236);
  margin-top: 20px;
}

.contactPage_title {
  width: 964px;
  float: left;
  padding: 30px;
  font-size: 26px;
  color: rgb(105, 105, 105);
  font-family: "Myriad Pro";
  font-weight: normal;
  line-height: 22px;
}

table {
  width: 960px;
}

.table-head {
  font-size: 16px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  border: 1px solid #666;
  padding: 5px;
  font-weight: bold;
}

td {
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  border: 1px solid #666;
  padding: 2px 2px 2px 5px;
}
