body {
  background-color: #92a8d1;
  padding: 20px;
  margin: 0;
}

h1,
h2,
h3,
p,
span,
label,
ul,
i,
li {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li:hover a:hover {
  background-color: #2b2b2b;
}

ul.header {
  background-color: #111;
  padding: 0;
  border-radius: 4px;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #FFF;
  border-radius: 4px;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #034f84;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  flex: 0 1 auto;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  flex: 0 1 auto;
  background-color: #f7786b;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

button {
  flex: 0 1 auto;
  color: white;
  padding: 6px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button.approved {
  background-color: #77a8a8;
}

button.denied {
  background-color: #c94c4c;
}

input[type=submit]:hover {
  background-color: #f7cac9;
}

input[type=submit]:disabled {
  background: #dddddd;
  pointer-events: none;
}

input[type=submit]:focus {
  background-color: #f7786b;
}


form#post-request-form {
  display: flex;
  flex-direction: column;
}

#post-request-form p {
  flex: 1 1 auto;
}

ul.baby-requests {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.baby-requests span {
  padding-right: 2px;
  padding-left: 2px;
  white-space: nowrap;
}

span.baby-name {
  margin-left: 10px;
}

.PopulationCount p, h3 {
  display: inline-block;
}

.PopulationCount h3 {
  margin-left: 10px;
}

.error {
  color: #db2269;
  font-size: 0.7em;
  display: block;
  margin-left: 2px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.snackbar-container {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  z-index: 1;
  position: fixed;
}

.snackbar {
  visibility: hidden;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 250px;
  background-color: #2b2b2b;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 1em;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.processed-requests {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.15);
}

.processed-requests thead tr {
  background-color: #f7786b;
  color: #ffffff;
  text-align: left;
}

.processed-requests th,
.processed-requests td {
  padding: 12px 15px;
}

.processed-requests tbody tr {
  border-bottom: 1px solid #dddddd;
}

.processed-requests tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.processed-requests tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.processed-requests tbody tr:last-of-type {
  border-bottom: 2px solid #f7786b;
}

.processed-requests tbody tr.active-row {
  font-weight: bold;
  color: #f7786b;
}

.login {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  font-size: 1.2em;
}

label.login-input {
  padding-bottom: 5px;
  margin-top: 20px;
}

form {
  width: 50%;
}

input[type=text].login-input, input[type=password].login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.login-button {
  background-color: #f7786b;
  color: white;
  padding: 14px 50px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  max-width: 50%;
  float: right;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

li.logout {
  float: right;
}

input[type="text"].filter {
  width: 62em;
  background-image: url('Resources/searchicon.png');
  padding: 12px 20px 12px 40px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
