version: '3.8'

services:
  app:
    container_name: front-end-app
    image: front-end-app
    build:
      context: .
      target: development
    volumes:
      - ./src:/app/src
    ports:
      - 3000:3000
