.container {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option {
    padding: 10px;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.option:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.option:active, .option.selected {
    background-color: rgba(255, 136, 0, 0.1);
}
