form.search
    input(placeholder="Search by Artist", "[(ngModel)]"="filter", name="filter", "(keyup.enter)"="onEnter()")
    .tip
        span press enter
.results
    .sort
        span Order by
        .option("(click)"="orderBy('title')", "[ngClass]"="{'active': orderByField === 'title'}")
            i.fa("[ngClass]"="{'fa-caret-up': ascending, 'fa-caret-down': !ascending}")
            span Title
        .option("(click)"="orderBy('artist')", "[ngClass]"="{'active': orderByField === 'artist'}")
            i.fa("[ngClass]"="{'fa-caret-up': ascending, 'fa-caret-down': !ascending}")
            span Artist
        .option("(click)"="orderBy('length')", "[ngClass]"="{'active': orderByField === 'length'}")
            i.fa("[ngClass]"="{'fa-caret-up': ascending, 'fa-caret-down': !ascending}")
            span Length
    ul
        li("*ngFor"="let track of tracks")
            a(href="lyrics/{{track.id}}")
                span {{track.title}}
                span {{track.artistName}}
                span {{track.length}}
.more
    div("(click)"="loadMore()", "[ngClass]"="{'active': loading}")
        .loading
        span Load more