<div class="modal" id="mymodal" [style.display]="showModal ? 'block' : 'none'" *ngIf="trackObj">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{trackObj.artist_name}} - {{trackObj.track_name}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{lyrics || 'No Lyrics found'}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="hide()">Close</button>
      </div>
    </div>
  </div>
</div>
