* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s ease-in-out;
    outline: none;
    user-select: none;
    font-family: Arial, serif;
}

body, #root {
    width: 100%;
    height: 100vh;
    transition: 0s;
}

#root {
    display: flex;
}
