.icon-button {
    font-size: 3em;
}

.level-text {
    font-size: 2em;
    font-weight: 100;
}

.tank-button {
    border-radius: 3em;
    width: 4em;
}

.tank-level {
    font-size: 2em;
    font-weight: 700;
}