.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  margin: 1rem 0;
  padding: 1rem;

  animation: fade-in 0.3s both;
  animation-delay: calc(var(--i) * 0.1s);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0) rotateY(20deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateY(0deg);
  }
}
