<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="main-app-container main-header">
                <img class="logo" src="/assets/images/headphone.png" alt="B-Lyrics Logo">
                <div class="label">B-Lyrics</div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<section class="main-app-container">
    <app-lyric-search-bar></app-lyric-search-bar>
    <app-lyrics-search-results></app-lyrics-search-results>
</section>

<footer class="main-app-container">
    B-Lyrics - Copyright 2019
</footer>