.main-header{
    display: flex;
    flex-direction: row;

    .logo{
        margin: 0 1em;
    }

    .label{
        vertical-align: bottom;
        line-height: 2em;
        padding: 0 .5em;
        text-transform: uppercase;
        letter-spacing: 0.15em;
    }
}