.main-header{
    display: flex;
    flex-direction: row;

    .logo{
        margin: 0 1em;
    }

    .label{
        vertical-align: bottom;
        line-height: 2em;
        padding: 0 .5em;
        text-transform: uppercase;
        letter-spacing: 0.15em;
    }
}

footer{
    border-top: 1px solid lightgray;
    color: lightgray;
    text-align: right;
    padding: 1em;
    max-width: 800px;
    margin-top: 2em;
}