html,
body {
  height: 100%;
}

body {
  background: #f5f7fa;
  color: #444;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #444;
  text-decoration: none;
}

.link {
  color: #f63;
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  margin-bottom: 0.5rem;
}

p {
  color: #8a8a8a;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

main {
  padding: 2rem;
}
