

<div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
          <div class="tile is-ancestor" *ngIf="lyrics ">
              <div class="tile is-vertical is-12">

                <div class="tile is-parent">
                  <article class="tile is-child notification is-info">
                    <p class="title">Lyrics</p>

                   <h2 class="subtitle is-3"> {{lyrics.lyrics_body}}</h2>
                  </article>
                </div>
              </div>

            </div>
      </div>
    </div>
  </div>