.header-col{
  color: grey;
  transition: 300ms;
}

.header-col:hover{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.track-row{
  transition: 300ms;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 0px 10px 0px
}

.track-row:hover{
  background-color: lightgray;
}

.lyrics-header{
  text-decoration: underline;
  font-weight: bold;
}

.lyrics{
  white-space: pre-wrap;
}

.selected{
  text-decoration: underline;
  color: #0069d9;
}