$black: #000;
$mineShaft: #282828;
$goshawkGrey: #444;
$shadowedSteel: #4a4a4a;
$digital: #636363;
$argent: #888;
$greyChateau: #9fa3a7;
$white: #fff;
$lifeGuard: #e30000;
$green: #050505;
$shadowGreyTransparency: rgba(0, 0, 0, 0.04);
$lightGrey: #e9e9e900;
$gunMetal: #2e3044;
$charcoal: #3d405a;
$blueMarguerite: #7275c9;
$silver: #c6c6c6;
$doveGray: #727272;
$mulledWine: #48445d;
$lightPeriwinkle: #cfd1e4;
