{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-console": 0,
    "camelcase": 0,
    "import/prefer-default-export": 0,
    "react/forbid-prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "react/function-component-definition": [2, {
      "namedComponents": "arrow-function",
      "unnamedComponents": "arrow-function"
    }],
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ]
  }
}
