/* You can add global styles to this file, and also import other style files */
@import 'src/theme/variables.scss';

html {
    background: $background;
}

body {
    background: $background;
    height: 100vh !important;
}

.max-514 {
    max-width: 514px !important;
}