
// COLORS [ PALETTE ]

$primary-color:   #5680E9;
$secondary-color: #84CEEB;
$text-color:      #5AB9EA;
$light-color:     #C1C8E4;
$dark-color:      #8860D0;
$background:      linear-gradient(90deg, rgba(143,167,227,0.8939950980392157) 0%, rgba(192,161,249,0.908000700280112) 100%);