.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent
    url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    no-repeat 100% 50%;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 0.875rem;
  margin-left: 1rem;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
}
