$fa-font-path: '/fonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

body {
    background-color: #1A1A1D;
    color: #FFF;
}

h1 {
    color: #950740;
    text-transform: uppercase;
}

.track-modal {
    background-color: #1A1A1D;
    color: #FFF;
    padding: 24px;
    position: absolute;
    width: 500px;
}

table.tracks-list {
    width: 100%;

    th {
        font-size: 1.5em;
        font-weight: bold;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-top: 0.83em;
        padding-bottom: 0.73em;
        position: relative;
        text-align: left;

        .carets {
            color: #1A1A1D;
            padding-top: 0.83em;
            position: absolute;
            right: 6px;
            text-shadow: 0px 0px 3px #FFF;
            top: 0;
        }
        .carets .white {
            color: #FFF;
        }
    }

    th.track-name {
        width: 80%;
    }

    th.track-length {
        width: 15%;
    }

    th.track-has-lyrics {
        width: 5%;
    }

    tbody tr:hover {
        color: #6F2232;
    }
}

.lyrics {
    padding-top: 12px;
}