body {
    background-color: #1A1A1D;
    color: #FFF;
}

h1 {
    color: #950740;
    text-transform: uppercase;
}

.track-modal {
    background-color: #1A1A1D;
    color: #FFF;
    padding: 24px;
    position: absolute;
    width: 500px;
}
