<div class="jumbotron text-center">
  <h1>Get any Lyrics - App</h1>
  <br />
  <div class="container row" style="margin: 0 auto;">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
      <app-search-lyrics (tacksByArtist)="onSearchTracks($event)" (typedArtist)="onTypedArtist($event)"></app-search-lyrics>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 *ngIf="tracks.length">Tracks for {{currentArtist}}</h3>
      <app-tracks-table [tacksByArtist]="tracks"></app-tracks-table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
