doctype html
html
    head
        title karaoke
        base(href="/")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        div(data-karaoke) Loading...
