kind: Service
apiVersion: v1
metadata:
  name: postgres
spec:
  ports:
  - protocol: TCP
    port: 5432
    targetPort: 5432
---
kind: Endpoints
apiVersion: v1
metadata:
  name: postgres
subsets:
- addresses:
  - ip: 34.67.201.2
  ports:
  - port: 5432