<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img src="./../assets/karaoke.svg" alt="karaoke on move">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="tabs is-right">
            <ul>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']" >Home</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" ><a  [routerLink]="['/artist']">Know your Artist</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a href="https://www.linkedin.com/in/dipeshwalia">About Birthday Boy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>