<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-8 max-514">
            <div class="card mb-3 wrapper">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <h5 class="card-title aligh-self-center">{{ 'register' | translate }}</h5>
                            <app-field type="text" icon="faUserTag" placeholder="Recognition Number"
                                [controller]="recognitionNumberControl"></app-field>
                            <div class="col-auto d-grid gap-2">
                                <button (click)="register()" class="btn btn-primary btn-lg w-100"
                                    type="button">{{ 'start_register' | translate }}</button>
                            </div>
                            <a [routerLink]="['/auth/login']">
                                {{ 'already_registered' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>